In [4]:
import pandas as pd
df = pd.read_csv('sample_submission.csv')
sub_df = pd.read_csv('submission.csv')
print(len(df))
print(len(sub_df))

2477
2526

In [9]:
sub_df = sub_df.drop_duplicates()
print(len(df))
print(len(sub_df))

2477
2477

In [11]:
df

                      id    PredictionString
0     00188a671292_study  negative 1 0 0 1 1
1     004bd59708be_study  negative 1 0 0 1 1
2     00508faccd39_study  negative 1 0 0 1 1
3     006486aa80b2_study  negative 1 0 0 1 1
4     00655178fdfc_study  negative 1 0 0 1 1
...                  ...                 ...
2472  46719b856de1_image      none 1 0 0 1 1
2473  31c07523a69a_image      none 1 0 0 1 1
2474  f77d7d1aebab_image      none 1 0 0 1 1
2475  ccc5b63ca96d_image      none 1 0 0 1 1
2476  5e8ac1fe2b82_image      none 1 0 0 1 1

[2477 rows x 2 columns]

In [12]:
sub_df

                      id                                   PredictionString
0     2fb11712bc93_study  negative 0.28 0 0 1 1indetreminate 0.16 0 0 1 ...
1     19c66935e737_study  negative 0.28 0 0 1 1indetreminate 0.16 0 0 1 ...
2     2fc50bf199cd_study  negative 0.28 0 0 1 1indetreminate 0.16 0 0 1 ...
3     97c5d6eb413d_study  negative 0.28 0 0 1 1indetreminate 0.16 0 0 1 ...
4     593c3f815635_study  negative 0.28 0 0 1 1indetreminate 0.16 0 0 1 ...
...                  ...                                                ...
2521  a43200bd5ceb_image                                     none 1 0 0 1 1
2522  37bf83df1b86_image                                     none 1 0 0 1 1
2523  b30d2aef985f_image                                     none 1 0 0 1 1
2524  a37a362df0ac_image                                     none 1 0 0 1 1
2525  a0f473f71878_image                                     none 1 0 0 1 1

[2477 rows x 2 columns]

In [17]:
sub_df2 = pd.DataFrame({'id': df.id.tolist(),
                        'PredictionString': sub_df.PredictionString.tolist()})
sub_df2

                      id                                   PredictionString
0     00188a671292_study  negative 0.28 0 0 1 1indetreminate 0.16 0 0 1 ...
1     004bd59708be_study  negative 0.28 0 0 1 1indetreminate 0.16 0 0 1 ...
2     00508faccd39_study  negative 0.28 0 0 1 1indetreminate 0.16 0 0 1 ...
3     006486aa80b2_study  negative 0.28 0 0 1 1indetreminate 0.16 0 0 1 ...
4     00655178fdfc_study  negative 0.28 0 0 1 1indetreminate 0.16 0 0 1 ...
...                  ...                                                ...
2472  46719b856de1_image                                     none 1 0 0 1 1
2473  31c07523a69a_image                                     none 1 0 0 1 1
2474  f77d7d1aebab_image                                     none 1 0 0 1 1
2475  ccc5b63ca96d_image                                     none 1 0 0 1 1
2476  5e8ac1fe2b82_image                                     none 1 0 0 1 1

[2477 rows x 2 columns]